body {
	background-color: #e1e8f0;
}

#title {
	height: 6rem;
	background-color: #e1e8f0;
}

#instructions {
	height: 3rem;
	background-color: #e62739;
}

#startGame {
	background-color: #3b3a36;
	border: none;
	color: white;
	width: 20rem;
	height: 3rem;
	font-size: 2rem;
	font-weight: bold;
	margin-left: 50rem;
	margin-top: 1rem;
}

#next {
	background-color: white;
}


.main {
	margin-top: 6rem;
}

h1 {
	color: #e62739;
	font-weight: bold;
	letter-spacing: 0.1rem;
	margin-top: 1rem;
}

h2 {
	font-size: 2rem;
	color: white;
	font-weight: bold;
	letter-spacing: 0.1rem;
	margin-left: 5rem;
	margin-top: 0.5rem;
}

h3 {
	color: white;
	margin-top: 0.2rem;
	font-size: 2rem;
}

img {
	width: 30rem;
	height: 15rem;
	margin: 0 auto;
}

#mapdiv {
	 width: 80rem; 
	 height: 50rem;
	 margin-left: 5rem;
}

#flag {
	height: 20rem;
	margin-bottom: 7rem;
	margin-left: 4.5rem;
}

#answers {
	height: 6rem;
}

#answers ul {
	margin-left: 3rem;
}

#answers ul li {
	margin: 0 0.5rem 0 0.5rem;
	padding: 0.5rem 0.5rem;
	font-size: 2rem;
	display: inline-block;
	text-decoration: none;
	border: 0.1rem solid ;
	border-radius: 50%;
}

.correct {
	background-color: #dbe9d8;
	color: white;
}

.incorrect {
	background-color: #e62739;
	color: white;
}

.unanswered {
	visibility: hidden;
}

#score {
	margin-left: 7.5rem;
	width: 25rem;
	height: 4rem;
	background-color: #3b3a36;
	border: 0.1rem solid #3b3a36;
}

